<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form method="POST" action="/register">

        <label for="login">Login:</label>
        <input type="text" id="login" name="login"><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br>

        <div>
            <button type="submit">Cadastrar</button>
        </div>
        <div id="error-message"></div>
    </form>
    <div>
        <label></label>
    </div>

    <script>
        const form = document.querySelector('form');
        const errorMessage = document.querySelector('#error-message');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    window.location.href = '/success';
                } else {
                    const message = await response.text();
                    errorMessage.textContent = message;
                    errorMessage.style.display = 'block';
                }
            } catch (error) {
                errorMessage.textContent = 'Erro ao processar cadastro. Tente novamente mais tarde.';
                errorMessage.style.display = 'block';
            }
        });
    </script>
</body>
</html>
